---
import Card from "./Card/index.astro";
import { getCollection } from "astro:content";
import Button from "./Button.astro";
import { Icon } from 'astro-icon/components'
const allProjects = await getCollection("portfolio");
allProjects.sort((a, b) => a.data.order - b.data.order);
---



{
    
    allProjects.map((project) => (

        <Card  colSpan="md:col-span-4 mb-10" rowSpan="md:row-span-5">
            <div class="flex flex-col sm:flex-row gap-2">
                <div class="flex flex-col gap-2 p-4 ms:w-4/5">
                    <h2 class="text-[#e63a46] text-xl font-bold">{project.data.title}</h2>
                    <p class="text-white">{project.data.description}</p>
                </div>
                <img src={project.data.image.src} alt={project.data.imageAlt} class="w-full h-48 object-cover rounded-lg self-center" />
            </div>
            <div class="flex gap-4 mt-6 justify-center">
                <a href={project.data.github} aria-label="github code" target="_blank">
                    <Button aria-label="github code">
                        <Icon name="ri:github-fill" class="h-6" />
                        <span class="sr-only">GitHub code</span>
                    </Button>
                </a>
                <a href={project.data.link} aria-label="Website" target="_blank">
                    <Button aria-label="Website">
                        <Icon name="ri:pages-line" class="h-6" />
                        <span class="sr-only">Website</span>
                    </Button>
                </a>
            </div>
        </Card>

    ))
} 
